:root {
    --main-color: rgba(255, 255, 255, 0.74);
    --font-size-large: x-large;
    --background-color: rgba(3, 2, 1, 0.951);
}

body {
    font-family:'Times New Roman', Times, serif;
    background-color: var(--background-color);
    margin: 20px;
    color: var(--main-color);
}

.header {
    top: 0ch;
    text-align: center;
    width: 100%;
    font-size: var(--font-size-large);
    position: sticky;
    margin: 50px 10px 50px 10px;
}

.about{
    text-align: center;
    font-size: large;
    width: 100%;
    padding: 50px;
    margin: 50px 10px 20px 10px;
}

.projects{
    text-align: center;
    font-size: medium;
    width: 100%;
    padding: 25px;
    margin: 50px 10px 30px 10px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.flex-item:nth-child(1) {
    background-color:rgb(201, 174, 189);
    color:black; 
    text-align: center;
    border-radius: 10px;
    width: 25%;
    padding: 10px;
    margin: 20px;
}

.flex-item:nth-child(2) {
    background-color:rgba(100, 148, 237, 0.852);
    color: black;
    text-align: center;
    border-radius: 10px;
    width: 25%;
    padding: 10px;
    margin: 20px;
}

.contact{
    text-align: center;
    font-size: medium;
    width: auto;
    padding: 50px;
    margin: 10px;
    
}

.footer{
    text-align: center;
    font-size: smaller;
    position: fixed;
    padding: 10px;
    margin: 0;
    width: 100%;
    bottom: 0ch;
}

@media (max-width: 768px) {
    .flex-item:nth-child(1){
        display: block;
        width: 100%;
    }
    .flex-item:nth-child(2){
        display: block;
        width: 100%;
    }
    
}