:root {
    --main-color: rgba(255, 255, 255, 0.74);
    --font-size-large: x-large;
    --background-color: rgba(3, 2, 1, 0.951);
}

body {
    font-family:'Times New Roman', Times, serif;
    background-color: var(--background-color);
    margin: 20px;
    color: var(--main-color);
}

.header {
    top: 0ch;
    text-align: center;
    width: 100%;
    font-size: var(--font-size-large);
    position: sticky;
    margin: 50px 10px 50px 10px;
}

.about{
    text-align: center;
    font-size: large;
    width: 100%;
    padding: 50px;
    margin: 50px 10px 10px 10px;
}

img {
    border-radius: 60px;
    margin: 50px 10px 10px 10px;
}

.projects{
    text-align: center;
    font-size: large;
    width: 100%;
    padding: 25px;
    margin: 40px 10px 30px 10px;

}

.projectOne{
    background-color:rgb(201, 174, 189);
    color: rgba(3, 2, 1, 0.951);
    text-align: center;
    font-size: 20pt;
    border-radius: 50px;
    width: 100%;
    padding: 10px;
    margin: 10px 0 40px 0;
    
}

.projectTwo{
    background-color:rgba(148, 154, 221, 0.852);
    color: rgba(3, 2, 1, 0.951);
   text-align: center;
    font-size: 20pt;
    border-radius: 50px;
    width: 100%;
    padding: 10px;
    margin: 10px 0 40px 0;
    
}

.contact{
    text-align: center;
    font-size: medium;
    width: auto;
    padding: 50px;
    margin: 10px;
    
}

form {
    width: auto;
    padding: 25px;
    margin: 5px;

}

[name="name"] {
    background-color:whitesmoke;
    width: 355px;
    padding: 5px auto;
    margin: 10px;

}

[name="email"] {
    background-color: whitesmoke;
    width:300px;
    padding: 5px auto;
    margin: 10px;
}

[name="comment"] {
    background-color:whitesmoke;
    width: 500px;
    padding: 20px 40px 20px 40px;
    margin: 10px;
}

button {
    background-color:rgb(201, 174, 189);
    width: 25%;
    border-radius: 50px;
    padding: 5px;
    margin: 20px;
}

button:hover {
    background-color:rgb(202, 162, 184);
}

.footer{
    text-align: center;
    font-size: smaller;
    position: fixed;
    padding: 10px;
    margin: 0;
    width: 100%;
    bottom: 0ch;
}

@media (max-width: 768px) {
    [name="name"],[name="email"] {
        display:block;
        width:100%;
    }
    
    [name="comment"] {
        display: block;
        width:200%;
    }
    [name=submitBtn] {
        display: block;
        width: 80%;
    }
}