:root {
    --main-color: rgba(255, 255, 255, 0.74);
    --font-size-large: x-large;
    --background-color: rgba(3, 2, 1, 0.951);
}

body {
    font-family:'Times New Roman', Times, serif;
    background-color: var(--background-color);
    margin: 20px;
    color: var(--main-color);
}

.header {
    top: 0ch;
    text-align: center;
    width: 100%;
    font-size: var(--font-size-large);
    position: sticky;
    margin: 50px 0px 50px 0px;
}

ul {
    list-style-type: none;
}

li a {
    text-decoration: none;

}

.about{
    text-align: center;
    font-size: large;
    width: 50%;
    padding: 50px;
    margin: 50px 0px 0px 0px;
}

img {
    border-radius: 50%;
    margin: 20px 10px 10px 10px;
}

.projects{
    text-align: center;
    font-size: large;
    width: 100%;
    padding: 25px;
    margin: 40px 10px 10px 10px;

}

.projectOne{
    text-align: left;
    font-size: 20pt;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    margin: 10px 0 10px 0;
    
}

[name=projOneBtn] {
    background-color: rgb(201, 174, 189);
    width: 20%;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
}

.projectTwo{
    text-align: left;
    font-size: 20pt;
    width: 100%;
    padding: 10px;
    margin: 10px 0 10px 0;
}

[name=projTwoBtn] {
    background-color:rosybrown;
    width: 20%;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
}

.content {
  padding: 20px;
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

[id="projOneContent"], [id="projTwoContent"] {
    font-size: 20px;
    padding: 20px;
}

.contact{
    text-align: center;
    font-size: medium;
    width: auto;
    padding: 50px;
    margin: 10px;
    
}

form {
    width: auto;
    padding: 25px;
    margin: 5px;

}

[name="name"] {
    background-color:whitesmoke;
    width: 355px;
    padding: 5px auto;
    margin: 10px;

}

[name="email"] {
    background-color: whitesmoke;
    width:300px;
    padding: 5px auto;
    margin: 10px;
}

[name="comment"] {
    background-color:whitesmoke;
    width: 500px;
    padding: 20px 40px 20px 40px;
    margin: 10px;
}

[name="submit"] {
    background-color:rgb(201, 174, 189);
    width: 25%;
    border-radius: 50px;
    padding: 5px;
    margin: 20px;
}

button:hover {
    background-color:rgb(202, 162, 184);
}

.footer{
    text-align: center;
    font-size: smaller;
    position: fixed;
    padding: 0;
    margin: 0;
    width: 100%;
    bottom: 0ch;
}

@media (max-width: 768px) {
    img{
        height: 25%;
        width: 25%;
    }

    [name="name"],[name="email"] {
        display:block;
        width:100%;
    }
    
    [name="comment"] {
        display: block;
        width:200%;
    }
    [name="submit"] {
        display: block;
        width: 25%;
    }

    [name=projOneBtn],[name="projTwoBtn"] {
        display: block;
        width: 25%;
}
}